@font-face {
   font-family: 'Avenir Book';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-10-15_153249/fonts/Avenir%20Book/font.ttf');
}
